--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.54.0
joblib==1.4.2
shap==0.48.0

# 强制限制在 NumPy 2.0 以下，防止旧版 matplotlib 和 shap 崩溃
numpy>=1.26.4,<2.0.0

pandas>=2.2.2
matplotlib==3.7.1

# 使用官方 GitHub 主分支最新代码修复 pyradiomics 安装 bug
git+https://github.com/AIM-Harvard/pyradiomics.git

# 解决旧版本依赖冲突
SimpleITK>=2.4.0

# 纯 CPU 版本的深度学习框架，防止云端内存溢出
torch==2.6.0
torchvision==0.21.0

pillow==11.1.0
